<template>
  <div id="controls">
    <div class="grid-wrapper container">
      <label class="grid-item-1">First number</label>
      <Control class="grid-item-2" index="0"/>
      <label class="grid-item-1">Second number</label>
      <Control class="grid-item-2" @input="input" v-model="value" step="1000" index="1"/>
      <label class="grid-item-1">Third number</label>
      <Control class="grid-item-2" @input="input" v-model="value" step="1000" index="1"/>
      <button class="grid-item-1" @click="sum">Sum</button>
      <div class="elem grid-item-2">
        <strong>{{ total }}</strong>
      </div>
    </div>
  </div>
</template>
<script>
import Control from "./Control";

export default {
  name: "Table",
  components: {
    Control
  },
  data() {
    return {
      total: "",
      value: "0"
    };
  },
  methods: {
    sum() {
      const nums = this.$store.state.controls.nums;
      let n = Number(nums[0]) + Number(nums[1]) * 2;
      this.total = String(n).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, "$1 ");
    },
    input(value) {
      this.value = value;
    }
  }
};
</script>

<style scoped>
.grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 8px;
  align-items: center;
}
.grid-item-1 {
  grid-column: 1 / 1;
  padding: 8px;
}
.grid-item-2 {
  grid-column: 2 / 3;
  border-radius: inherit;
}
.grid-item-2:hover {
  border: thin solid lightblue;
}
.controls {
  border-radius: 5px;
  padding: 20px;
}
.container {
  background-color: #f2f2f2;
  width: 50%;
  margin: 0 auto;
  border: thin solid lightgray;
  border-radius: 4px;
  padding: 16px;
}
button {
  background-color: #039be5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
}
button::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
}
button:hover {
  /* background-color: #0288d1; */
  opacity: 1;
}
</style>

