<template>
  <div id="control" tabindex="-1">
    <div class="input-container">
      <input
        class="input-field"
        type="text"
        :value="value"
        readonly
        width="0"
        min="0"
        max="100000"
        :step="step"
        @focus="focusInputDebounce"
        @blur="blurInputDebounce"
        @keyup.enter="onEnter"
        @keyup.esc="onEsc"
      >
      <span id="drop-down-icon" @click="dropDownClick">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M7 10l5 5 5-5z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </span>
    </div>
  </div>
</template>

<script>
import debounce from "../debounce.js";

export default {
  name: "Control",
  components: {},
  data() {
    return {
      isSave: true
    };
  },
  props: {
    step: {
      type: String,
      default: "100"
    },
    index: {
      type: String,
      default: ""
    },
    value: {
      type: String,
      default: "0"
    }
  },
  created: function() {
    // *** Старый баг мозилы ***
    this.focusInputDebounce = debounce(this.onFocusInput, 1);
    this.blurInputDebounce = debounce(this.onBlurInput, 1);
  },
  computed: {
    num: {
      get: function() {
        return this.$store.state.controls.nums[this.index];
      },
      set: function(value) {
        this.$store.commit("controls/SET_NUM", [value, this.index]);
      }
    }
  },
  methods: {
    onFocusInput(e) {
      const target = e.target;
      const value = String(target.value);
      target.removeAttribute("readonly");
      target.type = "number";
      target.value = Number(value.replace(/\s/g, ""));
      target.nextElementSibling.setAttribute("hidden", true);
      target.select();
    },
    onBlurInput(e) {
      const target = e.target;
      const value = Number(target.value);
      const fmt = String(value).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, "$1 ");
      target.type = "text";
      target.setAttribute("readonly", "readonly");
      if (this.isSave) {
        target.value = fmt;
        this.num = value;
        this.$emit("input", target.value);
      }
      target.nextElementSibling.removeAttribute("hidden");
      this.isSave = true;
    },
    dropDownClick(e) {
      e.target.closest(".input-container").firstElementChild.focus();
    },
    onEnter(e) {
      e.target.blur();
    },
    onEsc(e) {
      this.isSave = false;
      e.target.blur();
    }
  }
};
</script>
<style scoped>
.input-container {
  align-items: center;
  background-color: inherit;
  border-radius: 5px;
  color: inherit;
  display: flex;
  margin: auto;
  min-width: calc(16px + 24px - 4px);
}
.input-field {
  border: 0;
  color: inherit;
  width: fit-content;
}
.input-container:hover,
.input-field:hover {
  color: blue;
  cursor: pointer;
  fill: blue;
}
input[type="text"],
input[type="number"] {
  background-color: inherit;
  display: inline-block;
  box-sizing: border-box;
  min-width: 12px;
  width: 100%;
  cursor: inherit;
  height: 34px;
  line-height: 34px;
}
input[type="number"]:focus {
  background-color: #fefefe;
  border: 0;
  padding: 4px;
}
input[type="number"]:invalid {
  background-color: #ef9a9a;
}
#drop-down-icon {
  width: 24px;
  height: 24px;
}
</style>
