<template>
  <div id="app">
    <img :src="logoUrl" class="app-logo" alt>
    <Controls/>
  </div>
</template>

<script>
import Controls from "./components/Controls";

export default {
  name: "App",
  components: {
    Controls
  },
  data() {
    return {
      logoUrl: ""
    };
  },
  created() {
    this.getLogoUrl();
  },
  methods: {
    getLogoUrl() {
      import(/* webpackMode: "lazy" */ "./assets/logo.svg").then(logoUrl => {
        this.logoUrl = logoUrl;
      });
    }
  }
};
</script>

<style>
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  margin: 8px 0;
  height: 80px;
}

@keyframes app-logo-spin {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    transform: rotateY(90deg) rotateX(70deg);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(180deg) rotateX(170deg);
    opacity: 1;
  }
  75% {
    transform: rotateY(270deg) rotateX(250deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
    opacity: 1;
  }
}
</style>
